.android-large {
    width: 360px;
    height: 800px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 400px;
}

.android-large .overlap {
    position: relative;
    height: 800px;
    /* border: 5px solid;
    border-color: #d9d9d9; */
}

.android-large .overlap-group {
    position: absolute;
    width: 313px;
    height: 149px;
    top: 75px;
    left: 23px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 2px solid;
    border-color: #000000;
}

.android-large .text-wrapper {
    position: absolute;
    width: 266px;
    height: 98px;
    top: 22px;
    left: 21px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.25px;
    line-height: 20px;
}

.android-large .group {
    position: absolute;
    width: 236px;
    height: 43px;
    top: 235px;
    left: 56px;
}

.android-large .overlap-group-wrapper {
    width: 238px;
    height: 43px;
}

.android-large .div-wrapper {
    position: relative;
    width: 236px;
    height: 43px;
    background-color: #acd4d4;
    border-radius: 118px/21.5px;
    border: 2px solid;
    border-color: #d9d9d9;
}

.android-large .div {
    position: absolute;
    width: 206px;
    height: 22px;
    top: 9px;
    left: 13px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.25px;
    line-height: 20px;
    white-space: nowrap;
    
}

.android-large .group-wrapper {
    position: absolute;
    width: 236px;
    height: 43px;
    top: 311px;
    left: 56px;
}